<!-- Metadata file: parabot/model.config -->
<?xml version="1.0"?>
<model>
  <name>Parabot</name>
  <version>1.0</version>
  <sdf version="1.6">model_v2.sdf</sdf>

  <author>
    <name>Dayuan</name>
    <email>373556662@qq.com</email>
  </author>

  <description>
    A 3-axis parallel robot with laser sensor.
  </description>
</model>