<?xml version="1.0"?>
<launch>

    <param name="robot_description" 
        command="$(find xacro)/xacro '$(find ppr_description)/urdf/motors.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"  output="screen" respawn="false" respawn_delay="0"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find ppr_description)/launch/ppr.rviz">
        <remap from="/robot_description_semantic" to="/robot_description"/>
    </node>
    

</launch>